* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display", serif;
}

body {
    font-family: "Quicksand", sans-serif;
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: 30%;
}

.sidebar {
    width: 30%;
    height: 100vh;
    float: left;
    position: fixed;
    overflow-y: scroll;
    border: 1px solid black;
    background-color: #F2F3F7;
    text-align: center;
}

.sidebar-content {
    width: 90%;
    margin: 0 0 0 10%;
    text-align: center;
}

.sidebar-content h2 {
    font-weight: 700;
    font-size: 1.5rem;
}

.sidebar-content p {
    margin: 0 0 30px 0;
    font-weight: 100;
    font-size: 0.7rem;
}
.nav-links ul {
    list-style-type: none;
    margin: 40px 0;
}

.nav-links a {
    text-decoration: none;
    color: inherit;        
}

.nav-links ul li {
    margin: 15px 35px 10px 10px;
    font-weight: 500;
    font-size: 0.8em;
}

.round-image {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-image: url("assets/jacksonimg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 40px auto;
}

.designer {
    color: blue;
}

.sidebar-end {
    width: 90%;
    margin: 0 auto;
}

.hero1 {
    height: 100vh;
    width: 100%;
    background-image: url("assets/img_bg_1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero1-content {
    margin: 150px 0 0 0;
    padding: 0px 50px;
}

.hero1 h1 {
    font-size: 4em;
    font-weight: 600;
}

.hero1 p {
    font-size: 1.2em;
    font-weight: 100;
}

.hero1 button {
    font-family: "Quicksand", sans-serif;
    font-weight: 100;
    padding: 6px 30px;
    border: 1px solid black;
    border-radius: 3px;
}

.hero2 {
    width: 100%;
    height: 100vh;
    margin-top: 150px;
}

.hero2-content {
    padding: 0 20px;
}

.hero2-content .about {
    font-size: 0.7rem;
    font-weight: 200;
    letter-spacing: 5px;
}

.hero2-content h3 {
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 5px;
    margin-bottom: 50px;
}

.hero2-content p {
    font-size: 0.9rem;
    line-height: 25px;
    letter-spacing: 1px;
}